## IDE files and folders
.cache
.project
.settings
nbproject
.idea
.DS_Store
_notes
.svn
.vscode/*

## This Project
.tmp/*
!.tmp/empty
templates/*
!templates/empty
.phpdoc/*
build/*

## Allow 'empty' files
!empty

## exclude files
lib/setting.php
