parameters:
    paths:
        - .
    level: 3
    bootstrapFiles:
        - ./lib/common.php
    excludePaths:
        - ./.github/*
        - ./.tmp/*
        - ./.vscode/*
        - ./template/*
        - ./build/*
includes:
    - ./phpstan-baseline.neon
